{% set title = "Communities" %}
{% extends "_layout.twig" %}

{% block mainContent %}
Communities:
<table>
	{% for community in communities %}
	<tr>
		<td>{{community.name}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}