{% set title = "Communities" %}
{% extends "_layout.twig" %}

{% block mainContent %}
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
	</tr>
	{% for community in communities %}
	<tr>
		<td>{{community.id}}</td>
		<td>{{community.name}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}