{% set title,bodyClasses = "Register","" %}
{% extends "_layout.twig" %}

{% block mainContent %}
<div id="header">
	<div id="header-body">
		<h1 id="page-title"><span>Success!</span></h1>
	</div>
</div>
<div class="body-content">
	<div class="no-content-window">
		<div class="window">
			Please re-open the Miiverse applet to sign in!
		</div>
	</div>
</div>
{% endblock %}