{% set title,bodyClasses,bodyData = "post","add-post-page",'data-is-first-post="1"' %}
{% extends "_layout.twig" %}

{% block mainContent %}
{% for community in communities %}
	<div class="title-header with-header-banner">
		<div class="header-banner-container post-subtype-default-container">
			<div class="post-form-header">
				<span class="post-subtype-default">Post</span>
			</div>
		</div>
		<h1 class="info-content">
			<span class="icon-container"><img src="{{community.icon}}" class="icon" width="48" height="48"></span>
			<span class="title-container">
			<span class="title">{{community.name}}</span>
			</span>
		</h1>
		{% if community.platform == 1 %}
			<span class="platform-tag platform-tag-3ds"></span>
		{% elseif community.platform == 2 %}
			<span class="platform-tag platform-tag-wiiu"></span>
		{% elseif community.platform == 3 %}
			<span class="platform-tag platform-tag-wiiu-3ds"></span>
		{% endif %}
	</div>
	<div class="body-content">
		<div id="form-content">
			<form method="post" action="/posts" id="test-3ds-post-form" data-redirect-to="/titles/{{community.id}}" data-is-own-title="1" enctype="multipart/form-data">
				<input type="hidden" name="olive_community_id" value="{{community.id}}">
				<input type="hidden" name="view_id" value="">
				<input type="hidden" name="page_param" value="">
				<input type="hidden" name="back_to_community" value="">
				<div class="add-post-page-content">
					<div class="feeling-selector expression">
						<ul class="buttons">
							<li class="checked"><input type="radio" name="feeling_id" value="0" class="feeling-button-normal" data-mii-face-url="http://game-dev-mii-images.account.nintendo.net/le7g6yw9mi5a_normal_face.png" data-sound="SE_OLV_OK_SUB" autocomplete="off" data-save-user-input="1" checked=""></li>
							<li class=""><input type="radio" name="feeling_id" value="1" class="feeling-button-happy" data-mii-face-url="http://game-dev-mii-images.account.nintendo.net/le7g6yw9mi5a_happy_face.png" data-sound="SE_OLV_OK_SUB" autocomplete="off" data-save-user-input="1"></li>
							<li class=""><input type="radio" name="feeling_id" value="2" class="feeling-button-like" data-mii-face-url="http://game-dev-mii-images.account.nintendo.net/le7g6yw9mi5a_like_face.png" data-sound="SE_OLV_OK_SUB" autocomplete="off" data-save-user-input="1"></li>
							<li class=""><input type="radio" name="feeling_id" value="3" class="feeling-button-surprised" data-mii-face-url="http://game-dev-mii-images.account.nintendo.net/le7g6yw9mi5a_surprised_face.png" data-sound="SE_OLV_OK_SUB" autocomplete="off" data-save-user-input="1"></li>
							<li class=""><input type="radio" name="feeling_id" value="4" class="feeling-button-frustrated" data-mii-face-url="http://game-dev-mii-images.account.nintendo.net/le7g6yw9mi5a_frustrated_face.png" data-sound="SE_OLV_OK_SUB" autocomplete="off" data-save-user-input="1"></li>
							<li class=""><input type="radio" name="feeling_id" value="5" class="feeling-button-puzzled" data-mii-face-url="http://game-dev-mii-images.account.nintendo.net/le7g6yw9mi5a_puzzled_face.png" data-sound="SE_OLV_OK_SUB" autocomplete="off" data-save-user-input="1"></li>
						</ul>
					</div>
					<input type="hidden" name="album_image_id" data-save-user-input="1" value="">
					<div class="textarea-with-menu active-text">
						<menu class="textarea-menu">
							<li><label class="textarea-menu-text">
								<input type="radio" name="_post_type" value="body" autocomplete="off" data-save-user-input="1" data-sound="SE_OLV_TEXTBOX" checked="">
								</label>
							</li>
						</menu>
						<label class="spoiler-button checkbox-button">
						Spoilers
						<input type="checkbox" name="is_spoiler" value="1" data-save-user-input="1" autocomplete="off">
						</label>
						<textarea name="body" class="textarea-text" value="" maxlength="200" cave_oninput="$(document.activeElement).trigger('input')" placeholder="Share your thoughts in a post to this community." data-save-user-input="1" autocomplete="off" data-preview-class="textarea-text-preview"></textarea>
						<div class="placeholder textarea-text-preview">Share your thoughts in a post to this community.</div>
					</div>
					<div id="bottom-menu">
						<input type="button" class="cancel-button fixed-bottom-button" data-sound="SE_OLV_CANCEL" value="Cancel">
						<input type="submit" class="fixed-bottom-button fixed-bottom-button-post" disabled="" value="Post">
					</div>
				</div>
			</form>
		</div>
	</div>
{% endfor %}
{% endblock %}