{% set title,bodyClasses = "Register","" %}
{% extends "_layout.twig" %}

{% block mainContent %}
<div id="header">
	<div id="header-body">
		<h1 id="page-title"><span>Register</span></h1>
	</div>
</div>
<div class="body-content">
	<div class="no-content-window">
		<div class="window">
			<form method="POST" action="/register">
				Display Name: <input type="text" name="display_name"><br>
				Username: <input type="text" name="username"><br>
				Password: <input type="password" name="password"><br>
				Email: <input type="text" name="email"><br>
				Nintendo Network ID: <input type="text" name="nnid"><br><br>
				<input type="submit" class="black-button" value="Register">
			</form>
		</div>
	</div>
</div>
{% endblock %}