{% set title,bodyClasses = "Register","" %}
{% extends "_layout.twig" %}

{% block mainContent %}
<div id="welcome-start" class="guest-page">
	<div class="window-page">
		<div class="window welcome-window">
			<div class="window-title">
			<p>Registering is not implemented!.</p>
		</div>
		<div class="window-body">
			<p>Coming soon?</p>
		</div>
	</div>
</div>
{% endblock %}